.App div {
  padding: 50px;
}

.App {
  font-family: 'Open Sans';
  font-size: 15px;
}

.App p {
  margin: 0px 0px 20px 0px;
}

.App p:last-child {
  margin: 0px;
}

.App input {
  padding: 10px;
  border: 1px solid gray;
  width: calc(100% - 22px);
  border-radius: 3px;
  margin-bottom: 20px;
}

.App button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
}

.App div.error {
  margin-top: 20px;
  padding: 0px;
  color: red;
}

.App div.message {
  margin-top: 20px;
  padding: 0px;
  color: green;
}
