<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/static/css/styles.css" rel="stylesheet">
  <title>cupcakes</title>
</head>

<body>

  <div id="content">
    
    <div id="cont-cupcakes">
    </div>

    <form>
      <label for="input-cupcake-flavor">Flavor</label><br>
      <input type="text" id="input-cupcake-flavor"></input><br>
      <label for="input-cupcake-size">Size</label><br>
      <input type="text" id="input-cupcake-size"></input><br>
      <label for="input-cupcake-rating">Rating</label><br>
      <input type="text" id="input-cupcake-rating"></input><br>
      <label for="input-cupcake-rating">Image</label><br>
      <input type="text" id="input-cupcake-image"></input><br><br>
      <button type="submit">add</button>
    </form>

  </div>

  <script src="http://unpkg.com/axios/dist/axios.js"></script>
  <script src="static/js/app.js"></script>

</body>

</html>
